# Environnements Python
.venv/
venv/
__pycache__/
*.pyc
.pytest_cache/
.ruff_cache/
.ipynb_checkpoints/

# Donnees, modeles et artefacts locaux
data/
models/
*.pkl
*.joblib
artifacts/*.joblib
artifacts/**/*.joblib
artifacts/*.pkl
artifacts/**/*.pkl

# Secrets
.env
*.env
*.key

# Systeme / IDE
.vscode/
.DS_Store
Thumbs.db
